body {
    font-family: Arial, sans-serif;
    background-color: #97d8a8;
    margin: 0;
    padding: 20px;
}

.text {
    text-align: center;
    color: #2c3e50;
}

.calculations {
    max-width: 350px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(233, 255, 234);
    border-radius: 18px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
}

#paycheck {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#calculate {
    margin-top: 12px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #27ae60;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#calculate:hover {
    background-color: #1e8449;
}

#calculate:active{
    background-color: #59ba81;
}

.results {
    display: flex;
    gap : 55px;
    justify-content: center;

}

#needs-res {
    flex: 1;
    margin:30px auto;
    padding: 20px;
    background-color: rgb(233, 255, 234);
    border-radius: 18px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
}

#wants-res {
    flex: 1;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(233, 255, 234);
    border-radius: 18px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
}
#savings-res {
    flex: 1;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(233, 255, 234);
    border-radius: 18px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.list {
    text-align: left;
}

.epilogue {
    color: #2c3e50;
}

#img{
    display : block;
    width: 60%;
    margin-left: 20%;
    

}