body {
    font-family: Arial, sans-serif;
    background-color: #a0caab;
    margin: 0;
    padding: 20px;
}

.text {
    text-align: center;
    color: #2c3e50;
}

.calculations {
    max-width: 350px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
}

#paycheck {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#calculate {
    margin-top: 12px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #27ae60;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#calculate:hover {
    background-color: #1e8449;
}

#calculate:active{
    background-color: #59ba81;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}